* {
    margin: 0;
    padding: 0;
}

#pagina {
    width: 100%;
    height: auto;
    
    
}

header {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    background-color: #540804;
}

#logo {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    /* overflow: hidden; para a div não estourar */
    float: left;
}

#logo img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

nav {
    width: auto;
    height: 40px;
    float: right;
    margin: 0 20px;
    line-height: 40px;
}

nav a{
    font-family: fantasy;
    text-decoration: none;
    color: white;
    margin: 0 30px;
}

main{
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 10px auto;
    border-radius: 30px;
    box-shadow: black 6px 6px;
    background-color: #FCB9B2;
    font-family: fantasy;
}

#banner {
    width: 100%;
    margin: 0 auto;
    
}

#banner img{
    width: 100%;
    height: 400px;
    border-radius: 30px;
    background-color: white;
}

h1{
    text-align: center;
    color: #540804;
}

h3{
    text-align: center;
    margin: 20px;
}

h4{
    margin: 20px;
    color: #540804;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    width: 100%;
    height: 40px;
    padding: 10px 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    background-color: #540804; 
}