@font-face {
    font-family: 'Rocket League1';
    src: url(../fonts/Jost-400-Book.ttf);
}

@font-face {
    font-family: 'Rocket League2';
    src: url(../fonts/Jost-700-BoldItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url(../image/egs-social-rocketleague-news-1920x1080-1920x1080-975383433.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form > h1 {
    color: white;
    text-align: center;
    font-family: 'Rocket League1';
    padding: 10px;
}

form {
    background-color: rgb(2, 8, 26);
    background-image: linear-gradient(to bottom, rgb(2, 8, 26) 70%, rgb(23, 35, 90));
    color: white;
    font-family: 'Rocket League2';
    border-radius: 25px;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

form > div {
    padding: 10px;
    width: 80%;
}

div > input {
    display: flex;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
}

form > input {
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 2px;
    border: none;
    height: 30px;
    transition: background-color .3s;
    font-family: 'Rocket League2';
    font-size: 20px;
}

div > input:focus {
    outline: 2px solid rgb(93, 147, 209);
}

form > input:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: white;
}

#senha {
    margin-bottom: 20px;
}

#enviar {
    display: flex;
    align-items: center;
    justify-content: center;
}