*{
    padding: 0;
    margin: 0;
}

h2, h3{
    font-size: 17px;
    padding: 5px;
}

p{
    padding: 5px 0;
}

body{
    width: 100vw;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #pagina {
    width: 80%;
    height: auto;
} */

header{
    width: 50%;
    background-color: #e8e6e6;
    
}

nav{
    display: flex;
    justify-content: right;
    gap: 0 20px;
     
}

nav > a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px;
    
}

.header-img {
    display: flex;   
}

.image{
    max-width: 100%;
}

main{
    width: 50%;
    display: flex;

}

.container{
    background-color: #e8e6e6;

}

.container > h2{
    background-color: #000;
    color: #fff;
}

article{
    padding: 5px;
}

footer{
    background-color: #000;
    color: #fff;
    width: 50%;
    padding: 5px;
}

aside{
    background-color: #fff;
    margin-right: 20px;
}

#mapa{
    display: flex;
    flex-direction: column;
}