* {
    padding: 0;
    margin: 0;
}

body{
    width: 25%;
    height: auto;
    background-color: #5C9EAD;
    display: flex;
}

#pagina{
    border: solid;
    display: flex;
    flex-direction: column;
    
}

#titulo{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff;
}

#pontos{
    text-align: center;
    font-size: 21px;
    color: #326273;
}

main{
    display: flex;
    justify-content: center;
    
}

#preco {
    margin: 100px
    display: flex;
}

.preco {
    
    margin: 37px ;
}

.nomes {
    margin: 20px;
    color: #fff;
}

.descricao{
    color: black;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
}

#informacoes{
    display: flex;
    flex-direction: column;
    color: #326273;
}

#logo {
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
}